*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
scroll-behavior: smooth;
}
body {
    color: black;
    line-height: 1.6;
}
header {
    background-color: white;
    padding: 10x 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header .logo img {
    height: 100px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 10px;
}

header nav a:hover {
    color: white;
    background-color: #8d6e63;
    border-radius: 10px;
}

main section {
    padding: 40px;
    border-bottom: 1px solid white;
}

#inicio .banner {
    position: relative;
    text-align: center;
    color: black;
}

.banner img {
    width: 100%;
    height: 400px;
    border-radius: 8px;
}

#inicio .banner-text {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
}

#destaques {
    text-align: center;
    padding-top: 40px;
}

.destaques-container {
    display: flex; 
    flex-wrap: nowrap; 
    overflow-x: auto; 
    overflow-y: hidden; 
    gap: 20px; 
    padding-bottom: 15px; 
}

.destaque-item {
    display: flex;
}

.destaques-item img {
    width: 600px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}
#adocao h2 {
    text-align: center;
    margin-bottom: 20px;
}
.tabela-animais {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}
.tabela-animais th, .tabela-animais td {
    border: 1px solid rgb(0, 0, 0);
    padding: 12px;
    text-align: left;
}
.tabela-animais th {
    background-color: rgb(189, 189, 189);
    font-weight: bold;
}
.tabela-animais tbody tr:ntg-child(even){
    background-color: white;
}
.tabela-animais tbody tr:hover {
    background-color: white;
}

#ajudar h2{
    text-align: center;
    margin-bottom: 20px;
}
#ajudar ul{
    list-style: none;
    max-width: 800px;
    margin: 0 auto;
}
#ajudar li{
    background-color: white;
    margin-bottom: 10px;
    padding: 15px;
    border-left: 5px solid #8D6E63;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 20px;
}
footer .redes-sociais {
    margin: 15px 0;
}
foorter .redes-sociais a{
    color: white;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}
footer .redes-sociais a:hover {
    color: #8D6E63;
}
footer .copyright {
    margin-top: 15px;
    font-size: 1em;
}